################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/datagenie_api/.vs/DatagenieApi/FileContentIndex
